<h1>GET Request Received</h1>

<table>
  <caption>Query Values Received:</caption>
  {{#each queryList}}
  	<tr>
    	<th>{{this.query}}</th>
    	<td>{{this.value}}</td>
    </tr>
  {{/each}}
</table>